* {
    margin: 0 auto;
    padding: 0 auto;
}

/* navbar section of the dashboard */

.navbar {
    background:linear-gradient(#323259,#323259) !important;
    box-shadow: 0px 5px 20px #1f233b;
}

.card {
    margin-top: 1.5em;
}

.navbar .fa {
    font-size: 20px;
    color: #bcbcbc;
    padding: 0 .6em;
    border-left: 1px solid #0000007e;
}

/* sidebar section of the dashboard */

#sidebar {
    background: #1f233b;
    height: 100vh;
    position: absolute;
    width: 15em;
}

#substitute_sidebar {
    display: none;
}

#sidebar .one {
    background: linear-gradient(green,#015001);
    padding: 10px;
    width: 15em;
    position: absolute;
    top: 8em;

}

#sidebar .one span i{
    margin-right: 10px;
}

#sidebar .blocks {
    text-decoration: none;
    width: 15em;
    position: absolute;
    top: 12em;
}

#sidebar .blocks div {
    text-decoration: none;
    font-size: 16px;
    border-bottom:1px solid rgb(20, 20, 20);
    padding: .9em;

}

#sidebar .blocks div a {
    text-decoration: none;
}

#sidebar .blocks div .a{
    margin: 0 .5em;
}

#sidebar .blocks div .b{
margin: 0 0 0 2.5em ;
}

#sidebar li:hover {
    background: #404075;
}

/* main section of the dashboard */

.mainArticle, .second-Article, .third-Article,.fourth-Article, .fifth-Article {
    margin: 0 auto;
    padding: 0 auto;
    margin-left: 15em;
    position: absolute;
    top:5em;
    padding: 1em;
    width: calc(100% - 15em);
    display:block;
}

.mainArticle span  {
    font-size: 14px;
    color: #bcbcbc;
}

.mainArticle span i {
    background: linear-gradient(120deg,#e4e4eb,#b4627d);
    padding: .4em .9em;
    border-radius: 4px;
    margin:0  .7em .3em 0;
}

#emergency , #front ,#opposite {
    padding: .5em 1.5em;
}
.flow {
    background: green;
    color: #e4e4eb;
    text-align: center;
    padding: 1.3em;
    border-radius: .3em;
}

.sec_flow {
    padding: 1em;
}

.mainArticle .far ,.mainArticle .fas, .mainArticle .fa , .mainArticle .fab{
    font-size: 40px;
    
}

#date_status {
    font-size: 7em; font-family: Georgia, 'Times New Roman', Times, serif;
}
/* doors section of the css */

#layout, #doors, #info, #wireless, #emergency, #opposite, #front,#relay-first, #relay-second,#relay-third, #relay-fourth,#relay-fifth, #relay-sixth {
    cursor: pointer;
}

.second-Article span i {
    background: linear-gradient(120deg,#e4e4eb,#b4627d);
    padding: .4em .9em;
    border-radius: 4px;
    margin:0  .7em .3em 0;
}

.second-Article span  {
    font-size: 14px;
    color: #bcbcbc;
}

.second-Article .far ,.second-Article .fas,.second-Article .fa{
    font-size: 40px;
    
}

/* the footer section of the dashboard */

footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

footer .card {
    
    background: #323259;
}

@media (max-width: 1200px) {
    #sidebar {
        width: 5em;
        display: none;
    }
    #substitute_sidebar {
        display: block;
        background: #1f233b;
        height: 100vh;
        position: absolute;
        width: 5em;
    }
    #substitute_sidebar .blocks {
        text-decoration: none;
        width: 5em;
        position: absolute;
        top: 6em;
    }
    
    #substitute_sidebar .blocks div {
        text-decoration: none;
        font-size: 23px;
        border-bottom:1px solid rgb(20, 20, 20);
        padding: .9em;
    
    }
    
    #substitute_sidebar .blocks div a {
        text-decoration: none;
    }
    
    #substitute_sidebar .blocks div .a{
        padding: .2em;
    }
    
    .mainArticle, .second-Article, .third-Article,.fourth-Article, .fifth-Article {
        margin-left: 5em;
        width: calc(100% - 5em);
    }

    #date_status  {
        font-size: 5em;
    }
}

#chartContainer span{
    width: 80%;
    background: yellow;
}