* {
    margin: 0 auto;
    padding: 0 auto;
}

.navbar {
    background:linear-gradient(#323259,#323259) !important;
    box-shadow: 0px 5px 20px #1f233b;
}
.card {
    margin-top: 1.5em;
}
.onSwitch {
    position: absolute;
    left: 65%;
    top: 20%;
    font-size: large;
}
.navbar .fa {
    /* width: 3em;
    height: 3em; */
    font-size: 20px;
    color: #bcbcbc;
    padding: 0 .6em;
    border-left: 1px solid #0000007e;
}
#sidebar {
    background: #1f233b;
    height: 100vh;
    position: absolute;
    width: 15em;
}

#sidebar .one {
    background: linear-gradient(green,#015001);
    padding: 10px;
    width: 15em;
    position: absolute;
    top: 8em;

}
#sidebar .one span i{
    margin-right: 10px;
}

#sidebar .blocks {
    text-decoration: none;
    width: 15em;
    position: absolute;
    top: 12em;
}

#sidebar .blocks div {
    text-decoration: none;
    font-size: 16px;
    border-bottom:1px solid rgb(20, 20, 20);
    padding: .9em;

}
#sidebar .blocks div a {
    text-decoration: none;
}
#sidebar .blocks div .a{
    margin: 0 .5em;
}

#sidebar .blocks div .b{
margin: 0 0 0 2.5em ;
}
#sidebar li:hover {
    background: #404075;
}
/* main section */
.mainArticle {
    margin: 0 auto;
    padding: 0 auto;
    margin-left: 15em;
    position: absolute;
    top:5em;
    padding: 1em;
    width: 84vw;
}

.mainArticle span  {
    font-size: 20px;
    text-align: left;
}
.mainArticle span i {
    background: linear-gradient(75deg,lavender,lavenderblush);
    padding: .4em .9em;
    border-radius: 4px;
    margin-right: .7em;
}
.mainArticle .far {
    font-size: 40px;
    
}







footer {
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 0;
}
footer .card {
    
    background: #323259;
}